@media screen and (max-width: 1100px){
    .menu{
        margin-right: 0;
    }
}
@media screen and (max-width: 1100px){
    .container-inner{
        max-width: 85%;
    }
    .item{
        margin-right: 15px;
    }
    .nav-icon{
        margin-right: 15px;
    }
}
@media screen and (max-width: 1100px){
    .row{
        align-items: center;
    }
    .nav-inner{
       flex-direction: column;
       justify-content: center;
    }
    .logo{
        margin-bottom: 15px;
    }
    .nav-butons{
        display: none;
    }
    .branding-info{
        max-width: 45%;
    }
    .branding-img{
        max-width: 50%;
    }
}
@media screen and (max-width: 800px){
    .branding-info{
        max-width: 100%;
    }
    .branding-img{
        display: none;
    }
}
@media screen and (max-width: 650px){
    .main-title,
    .branding-title{
        font-size: 30px;
        margin-bottom: 44px;
    }
    .main-block{
        padding: 10% 0 15%;
    }
}
@media screen and (max-width: 500px){
    .main-title,
    .branding-title{
        font-size: 26px;
    }
    .main-info{
        font-size: 12px;
    }
}

@media screen and (max-width: 440px){
    .menu{
        display: none;
    }
    .logo{
        margin-bottom: 0;
    }
    .main-title,
    .branding-title{
        font-size: 24px;
    }
    .main-info{
        font-size: 10px;
    }
}